* {
  font-family: "kanit";
}
#bgg {
  /* background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%); */
  background-image: url(../img/132.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

#fgpass .card {
  text-align: center;
}
#fgpass h1 {
  text-align: center;
}

#pass p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: right;
}
#pass h1 {
  text-align: center;
}
#btn .btn-danger {
  color: #fff;
  background-image: linear-gradient(to right, #e52d27, #b31217);
  /* border-color: #dc3545; */
  padding-left: 45px;
  padding-right: 45px;
}
#btn .btn-danger:hover {
  color: #fff;
  background-color: #a82633;
  /* border-color: #dc3545; */
  padding-left: 45px;
  padding-right: 45px;
}
#btn b {
  color: #dc3545;
}
#btn .btn-warning {
  color: #ffffff;
  background-image: linear-gradient(to right, #ffb347, #ffcc33);
  /* border-color: #ffc107; */
  padding-left: 28px;
  /* padding-right: 28; */
  padding-right: 28px;
}
#btn .btn-warning:hover {
  color: #fff;
  background-color: #c89703;
  /* border-color: #dc3545;  */
  padding-left: 28px;
  padding-right: 28px;
}
